body {
	font-family: monospace;
}

/* Adapted from "Photo Grid with Hover" by Douglas Glover - http://codepen.io/DouglasGlover/pen/zHBid */
#container{
  width:960px;
  position:relative;
  margin:0 auto;
  top:20px;
}


.photo{
  position:relative;
  float:left;
  height:200px;
  width:200px;
  background:#fff;
  border:1px solid #999;
  margin:20px;
}

.photo-image {
	background-size: cover;
	background-position: center;
	position:relative;
	cursor: pointer;
	top:18px;
	left:18px;
	width:160px;
	height: 160px;
	border:1px solid #999;  
	overflow: hidden;
	transition: all 1s ease;
}

.photo-image:hover {
	overflow: visible;
}

.photo:hover .photo-image {
	opacity: 1;
	position: absolute;
	z-index: 1001;
	height: 500px;
	width: 500px;
	top: -125px;
	left: -125px;
	border: 1px solid #999;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center; 
	background-color: #f6f6f6;
}

div#container.outfit {
	width: 720;
}