body {
	font-family: monospace;
}

.filter_nav td {
	padding-right: 2em;
}

/* Adapted from "Photo Grid with Hover" by Douglas Glover - http://codepen.io/DouglasGlover/pen/zHBid */
#container{
  width:960px;
  position:relative;
  margin:0 auto;
  /* top:20px; */

}


.photo{
  position:relative;
  float:left;
  height:200px;
  width:200px;
  background:#fff;
  border:1px solid #999;
  margin:20px;
}

.outfit_preview .photo{
	height: 150px;
  	width: 150px;
  	margin: 15px;

}

.photo-image {
	background-size: cover;
	background-position: center;
	position:relative;
	cursor: pointer;
	top:18px;
	left:18px;
	width:160px;
	height: 160px;
	border:1px solid #999;  
	overflow: hidden;
	transition: all 1s ease;
}

.outfit_preview .photo-image{
	cursor: auto;
	height: 120px;
  	width: 120px;
  	top:14px;
	left:14px;

}

.photo-image:hover {
	overflow: visible;
}

.outfit_preview .photo:hover .photo-image {
	/* do nothing */
	background-size: cover;
	background-position: center;
	position:relative;
	height: 120px;
  	width: 120px;
  	top:14px;
	left:14px;
	border:1px solid #999;  
	overflow: hidden;
}
.photo:hover .photo-image {
	opacity: 1;
	position: absolute;
	z-index: 1001;
	height: 500px;
	width: 500px;
	top: -125px;
	left: -125px;
	border: 1px solid #999;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center; 
	background-color: #f6f6f6;
}
div#container.outfit {
	width: 720;
}

.outfit_preview {
	display:inline-block;
}
.outfit_preview:hover {
	background-color: #f6f6f6;
}

.photo input[type='checkbox'] {
	display: none;
}

.photo-selected {
	opacity: 0.5;
	box-shadow: 2px 2px 2px #888;
}