{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
Add Plan - {{block.super}}
{% endblock title %}
{% block header %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	{% endblock header %}
{% block content %}
<p>Plan</p>
{% if errors %}
    <p>{{errors}}</p>

{% endif %}

	<form role="form" action="" method="post">
		{% csrf_token %}
		<p>Name: {{ form.name }}</p>
		<p>Tops: {{form.top_count}}</p>
		<p>Bottoms: {{form.bottom_count}}</p>
		<p>Dress: {{form.dress_count}}</p>
		<p>Outer{{form.outer_count}}</p>
		<p>Shoes: {{form.shoe_count}}</p>
		<p>Details: {{form.details_count}}</p>
		<p>Season type: {{form.season_type}}</p>

		<p>Select articles...</p>

		<div style="clear:both"></div>

		{% for article in form.articles %}
			{{article.tag}}
			<p class="no-picture" id="p_{{article.id_for_label}}" hidden>{{article.choice_label}}</p>			
		{% endfor %}
		
		<div style="clear:both"></div>

		<p><button type="submit">Save</button></p>
	</form>


{% include 'includes/image-picker.html' with articles=articles%}

{% endblock content %}