{% extends 'base.html' %}
{% block title %}
Detail - {{block.super}}
{% endblock title %}

{% block content %}
    <p>Name: {{article.name}}</p>
    <p>Type: {{article.get_article_type_display}}</p>
    <p>Cool or Warm Weather: {{article.get_weather_type_display}}</p>
    <p>Description: {{article.description}}</p>
    {% if article.user.profile.profile_type == 'P'%}
        {% if article.image %}
            <p><img src="{{article.image.url }}"/></p>
        {% endif %}
    {% else %}
        {% if article.image_external %}
            <p><img src="{{article.image_external}}" width="600px"/></p>    
        {% endif %}
    {% endif %}
    
    {% if user == article.user %}
    <p>
        <a href="{% url 'edit_article' article_id=article.id %}">Edit</a><br/>
		<a href="{% url 'delete_article' article_id=article.id %}">Delete</a><br/>
    </p>
    {% endif %}

{% endblock content %}