{% extends 'base.html' %}
{% block title %}
Detail - {{block.super}}
{% endblock title %}

{% block content %}
    <p>Name: {{article.name}}</p>
    <p>Type: {{article.get_article_type_display}}</p>
    <p>Cool or Warm Weather: {{article.get_weather_type_display}}</p>
    <p>Description: {{article.description}}</p>
    <p>
    {% if article.to_make %}
        <span class="label label-primary">To Make</span>
    {% endif %}
    {% if article.to_purchase %}
        <span class="label label-primary">To Purchase</span>
    {% endif %}
    </p>
    {% if article.user.profile.profile_type == 'P'%}
        {% if article.image %}
            <p><img src="{{article.image.url }}"/></p>

            {% if user == article.user %}

                <p>Rotate <a href="{% url 'rotate_article' article_id=article.id degrees=270 %}">Clockwise</a> | <a href="{% url 'rotate_article' article_id=article.id degrees=90 %}">Counter-clockwise</a></p>
            </p>
            {% endif %}
        {% else %}
        <p>No image uploaded.</p>
        {% endif %}
    {% else %}
        {% if article.image_external %}
            <p><img src="{{article.image_external}}" width="600px"/></p>
            {% if user == article.user %}
                <p>Rotate <a href="{% url 'rotate_article' article_id=article.id degrees=90 %}">Clockwise</a> | <a href="{% url 'rotate_article' article_id=article.id degrees=270 %}">Counter-clockwise</a></p>
            {% endif %}
        {% else %}
        <p>No image uploaded.</p>
            
        {% endif %}
    {% endif %}
    
    {% if user == article.user %}
    <p>
        <a href="{% url 'edit_article' article_id=article.id %}">Edit</a><br/>
        <a href="{% url 'delete_article' article_id=article.id %}">Delete</a><br/>
    </p>
    {% if plans %}
        <p>
            <form action="{% url 'add_article' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="article_id" value="{{article.id}}" hidden>
                <input type="submit" value="Add to Capsule" class="btn"/>
                <select name="plan_id">
                {% for plan in plans %}
                    <option value="{{plan.id}}">{{plan.name}}</option>
                {% endfor %}
                </select>
            </form>
        
        </p>
    {% endif %}
    {% endif %}

{% endblock content %}