{% extends 'base.html' %}
{% block title %}
Add Article - {{block.super}}
{% endblock title %}

{% block content %}

<p>Add Article</p>

{% if errors %}
    <p>{{errors}}</p>

{% endif %}
<form role="form" action="" method="post" enctype="multipart/form-data">
{% csrf_token %}
<p>Name: {{form.name}}</p>
<p>Description:<br/>{{form.description}}</p>
<p>Type: {{form.article_type}}</p>
<p>Weather: {{form.weather_type}}</p>
{% if user.profile.profile_type == 'P'%}
	<p>{{form.image}}</p>
{% else %}
	<p>Image URL: {{form.image_external}} <em>Upgrade for image uploads...</em></p>
{% endif %}
<button type="submit">Submit</button>
</form>
{% endblock content %}