{% extends 'base.html' %}
{% block title %}
Home - {{block.super}}
{% endblock title %}

{% block content %}
    <h2>About</h2>
    <p>Capsule is a tool for planning capsule wardrobes.</p>
    <p>Features:
	    <ul>
	    	<li>Create an inventory of your closet.</li>
	    	<li>Create capsule wardrobes around seasons, events, anything you'd like.</li>
			<li>Save outfits for future reference.</li>
			<li>Generate outfits based on your entire closet or a single capsule. Discover new ways to combine your pieces.</li>
	    </ul>
    </p>
    <p>Why?</p>
    <p>I wanted a tool to help me (1) organize my existing closet, (2) plan purchases, and (3) plan knitting and sewing projects that actually fit into my wardrobe. </p>
    <p>Availability</p>
    <p>I would like to make this tool available to everyone. I am asking for donations to cover hosting costs and some of the time I spend working on development. Additionally, if you are interested in the nuts and bolts, I have put the source code up on <a href="https://github.com/kelseyleftwich/capsule_grid">GitHub</a>.</p>
{% endblock content %}