{% load staticfiles %}
<html>
<head>
	<title>{% block title %}Capsule Grid{% endblock title %}</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />

	{% block header %}
	{% endblock header %}
</head>
<body>
<div class="container">
	<h1><a href="{% url 'home' %}">Capsule</a></h1>
	<ul>
		<li><a href="{% url 'new_article' %}">Add Article</a></li>
		<li><a href="{% url 'browse' %}">Articles</a></li>
		<li><a href="{% url 'outfit' %}">Outfit</a></li>
		<li><a href="{% url 'plan' %}">Plans</a></li>
		{% if user.is_authenticated %}
		<li><a href="{% url 'auth_logout' %}">Logout</a></li>
		{% else %}
		<li><a href="{% url 'auth_login' %}">Login</a></li>
		<li><a href="{% url 'registration_register' %}">Register</a></li>
		{% endif %}
	</ul>
	{% block content %}
	{% endblock content %}

	{% block footer %}
	<div style="clear: both; margin-top: 200px;"></div>
	<p style="float: right">
		<a href="http://kelseyleftwich.com">Kelsey Leftwich</a> |
    	<a href="https://github.com/kelseyleftwich/capsule_grid">GitHub</a> |
    	<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=kelsey%2eleftwich%40gmail%2ecom&lc=US&item_name=Capsule&no_note=0&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_LG%2egif%3aNonHostedGuest">Donate
		<span class="glyphicon glyphicon-gift" aria-hidden="true"></span></a>
    </p>

	{% endblock footer %}
</div>
</body>
</html>