{% extends 'base.html' %}
{% block title %}
Home - {{block.super}}
{% endblock title %}

{% block content %}
    <!-- <h2>Home</h2> -->
<p>
	<a href="{% url 'article_type' article_type='t' %}">Tops</a> - 
	<a href="{% url 'article_type' article_type='b' %}">Bottoms</a> - 
	<a href="{% url 'article_type' article_type='d' %}">Dresses</a> - 
	<a href="{% url 'article_type' article_type='o' %}">Outerwear</a> - 
	<a href="{% url 'article_type' article_type='a' %}">Details</a> - 
	<a href="{% url 'home' %}">All</a>
</p>
    <div id="overlay"></div>
    	<div id="container">
    		
	{% for article in articles %}
	{% if not article.image %}
	{% else %}
		<div class="photo">
			<!--  -->
			<a href="{% url 'article_detail' article_id=article.id %}">
			<div class="photo-image" style="background-image: url({{article.image.url}})">
				<!-- <img src="{{article.image.url}}" alt="{{article.name}}" class="grid-img"/> -->
			</div>
			</a>
		</div>
	{%endif%}
	{% endfor %}
    	</div>
    
{% endblock content %}
{% block footer %}

{% endblock footer %}