{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
Home - {{block.super}}
{% endblock title %}

{% block content %}
    <!-- <h2>Home</h2> -->
<p>
<table class="filter_nav">
	<tr>
		<td>Type</td>
		<td>Weather</td>
	</tr>
	<tr>
		<td>
			<a href="{% url 'article_type' article_type='t' %}">Tops</a> - 
			<a href="{% url 'article_type' article_type='b' %}">Bottoms</a> - 
			<a href="{% url 'article_type' article_type='d' %}">Dresses</a> - 
			<a href="{% url 'article_type' article_type='o' %}">Outerwear</a> - 
			<a href="{% url 'article_type' article_type='a' %}">Details</a> - 
			<a href="{% url 'article_type' article_type='s' %}">Shoes</a> - 
			<a href="{% url 'home' %}">All</a> 
		</td>
		<td>
			<a href="{% url 'weather_type' weather_type='c' %}">Cool</a> -
			<a href="{% url 'weather_type' weather_type='w' %}">Warm</a> -
			<a href="{% url 'home' %}">Both</a>
		</td>
	</tr>
</table>
</p>
    <div id="overlay"></div>
	<div id="container">
		
		{% for article in articles %}
			{% if article.image and article.image.url %}
				<div class="photo">
					<!--  -->
					<a href="{% url 'article_detail' article_id=article.id %}">
					{% if article.user.profile.profile_type == 'P' %}

						<div class="photo-image" style="background-image: url({{article.image.url}})">
					{% else %}
						<div class="photo-image" style="background-image: url({{article.image_external}})">
					{% endif %}
					</div>
					</a>
				</div>
				
			{% else %}
				<div class="photo">
					<!--  -->
					<a href="{% url 'article_detail' article_id=article.id %}">
						<div class="photo-image" style="background-image: url({% static 'images/hanger.gif' %})">
						<p class="no-picture">{{article.name}}</p>
					</div>
					</a>
				</div>	
			{%endif%}
		{% endfor %}
	</div>
    
{% endblock content %}
