{% extends 'base.html' %}
{% block title %}
Home - {{block.super}}
{% endblock title %}

{% block content %}
<table class="filter_nav">
	<tr>
		<td>season</td>
	</tr>
	<tr>
		<td>
			<a href="{% url 'plan' season_type='a'%}">Autumn</a> -
			<a href="{% url 'plan' season_type='w'%}">Winter</a> -
			<a href="{% url 'plan' season_type='p'%}">Spring</a> -
			<a href="{% url 'plan' season_type='s'%}">Summer</a> -
			<a href="{% url 'plan' %}">All</a>
		</td>
	</tr>
</table>

{% if plans %}
<ul>
{% for plan in plans %}
	<li>
		<a href="{% url 'plan_detail' plan_id=plan.id %}">
			{{plan.name}}
		</a>
	</li>
{% endfor %}
</ul>
<p>
	<a href="{% url 'new_plan' %}">Add Plan</a>
</p>
{% else %}
No plans found. <a href="{% url 'new_plan' %}">Create Plan</a>
{% endif %}

{% endblock content %}