{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
Edit - {{block.super}}
{% endblock title %}

{% block header %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	{% endblock header %}

{% block content %}
	<p>Edit {{outfit.name}}</p>
	<form role="form" action="" method="post">
		{% csrf_token %}
		<p>Name: {{ form.name }}</p>
		<p>Select articles...</p>

		<div style="clear:both"></div>
		
		{% for article in form.articles %}
			{{article.tag}}
			<p class="no-picture" id="p_{{article.id_for_label}}" hidden>{{article.choice_label}}</p>
		{% endfor %}
		
		<div style="clear:both"></div>

		<p><button type="submit" class="btn">Save</button></p>
	</form>

	<script>
	var hashtable = {
	{% for article in articles%}
		{{article.0}} : '{{article.1}}',
	{% endfor %}
	} 


	$(":checkbox").each(function() {
	id = $(this).val();
		console.log($(this).attr('id'));
		$(this).wrap('<div class="photo-image">');
		{% if user.profile.profile_type == 'P' %}
		if(hashtable[id] == ''){
				$(this).parent().attr('style',
					'background-image:url(\'{% static "images/hanger.gif" %}\')');
				$("#p_" + $(this).attr('id')).removeAttr('hidden').appendTo($(this).parent());

			}
			else{
			$(this).parent().attr('style','background-image:url(\'' + '/media/'+hashtable[id] + '\')');
		}
		{% else %}
		if(hashtable[id] == ''){
				$(this).parent().attr('style',
					'background-image:url(\'{% static "images/hanger.gif" %}\')');
				$("#p_" + $(this).attr('id')).removeAttr('hidden').appendTo($(this).parent());

			}
			else{
			$(this).parent().attr('style','background-image:url(\'' + hashtable[id] + '\')');
		}
		{% endif %}
		$(this).parent().wrap('<div class="photo outfit_new">');
		$(this).parent().wrap('<label for="' + $(this).attr('id') + '">');

		if($(this).is(':checked')){
			$(this).parent().toggleClass("photo-selected");
			console.log("checked");
		}
	});

		$(':checkbox').click(function() {
			$(this).parent().toggleClass("photo-selected");
		});
	

</script>
{% endblock content %}