{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
Add Outfit - {{block.super}}
{% endblock title %}

{% block header %}
	<link rel="stylesheet" href="{% static 'css/image-picker.css' %}" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<script src="{% static 'js/image-picker.js' %}"></script>
	{% endblock header %}

{% block content %}

        <style type="text/css">
            .thumbnails li img{
                width: 300px;
            }
        </style>

	<p>Outfit</p>
	<form role="form" action="" method="post">
		{% csrf_token %}
		<p>
			Name: {{ form.name }}
		</p>
		<p>Select articles...</p>
		<div style="clear:both"></div>
		<!-- {{ form.as_p }} -->
		{% for article in form.articles %}
			{{article.tag}}
		{% endfor %}
		<div style="clear:both"></div>
		
		<p>
			<button type="submit">Save</button>
		</p>
	</form>
<script>
	var hashtable = {
	{% for article in articles%}
		{% for key, value in article.items %}
			{% if forloop.first %}
				'{{value}}':
			{% elif forloop.last %}
			 	'{{value}}',
			{% endif %}
		{% endfor %}
	{% endfor %}
	}


	$(":checkbox").each(function() {
		id = $(this).val();
		console.log($(this).attr('id'));
		$(this).wrap('<div class="photo-image">');
		$(this).parent().attr('style','background-image:url(\'' + '/media/'+hashtable[id] + '\')');
		$(this).parent().wrap('<div class="photo">');
		$(this).parent().wrap('<label for="' + $(this).attr('id') + '">');
	});

		$(':checkbox').click(function() {
			$(this).parent().toggleClass("photo-selected");
		});
	

	console.log("end");
</script>

{% endblock content %}