{% extends 'base.html' %}
{% block title %}
Home - {{block.super}}
{% endblock title %}

{% block content %}
<p>Outfits</p>
{% for outfit in outfits %}
		<a href="#" class="">
	<div id="container" class="outfit_preview outfit_container">
		<p>
			{% if outfit.name|length == 0 %}
				<i>unnamed</i>	    
					
			{% else %}
				{{outfit.name}}
			{% endif %}
		</p>
		
		{% for article in outfit.articles.all %}
			
		<div class="photo">
			<!--  -->
			<!-- <a href="{% url 'article_detail' article_id=article.id %}"> -->
			<div class="photo-image" style="background-image: url({{article.image.url}})">
				<!-- <img src="{{article.image.url}}" alt="{{article.name}}" class="grid-img"/> -->
			</div>
			<!-- </a> -->
		</div>
		{% endfor %}
	</div>
	</a>
	<!-- <div style="clear: both"></div> -->
	<hr>
{% endfor %}
{% endblock content %}