{% extends 'base.html' %}
{% block title %}
Home - {{block.super}}
{% endblock title %}

{% block content %}
<p>Random Outfit Generated... 
	<a href="{% url 'outfit_random' %}"><span class="glyphicon glyphicon glyphicon-repeat" aria-hidden="true"></span></a>
</p>

{# error message #}
{% if message %}
	<p>
	    {{message}}<br/>
	    <a href="{% url 'new_article' %}">Add article.</a>
	</p>
{% endif %}

<div id="container" class="outfit">

	{# top #}
	{% if top %}	
	<div class="photo">
		<a href="{% url 'article_detail' article_id=top.id %}">
			<div class="photo-image" style="background-image: url({{top.image.url}})">
			</div>
		</a>
	</div>
	{% endif %}

	{# dress #}
	{% if dress %}	
	<div class="photo">
		<a href="{% url 'article_detail' article_id=dress.id %}">
			<div class="photo-image" style="background-image: url({{dress.image.url}})">
			</div>
		</a>
	</div>
	{% endif %}

	{# outer #}
	{% if outer %}	
	<div class="photo">
		<a href="{% url 'article_detail' article_id=outer.id %}">
			<div class="photo-image" style="background-image: url({{outer.image.url}})">
			</div>
		</a>
	</div>
	{% endif %}

	{# detail #}
	{% if detail %}	
	<div class="photo">
		<a href="{% url 'article_detail' article_id=detail.id %}">
			<div class="photo-image" style="background-image: url({{detail.image.url}})">
			</div>
		</a>
	</div>
	{% endif %}

	{# bottom #}
	{% if bottom %}	
	<div class="photo">
		<a href="{% url 'article_detail' article_id=bottom.id %}">
			<div class="photo-image" style="background-image: url({{bottom.image.url}})">
			</div>
		</a>
	</div>
	{% endif %}

	{# shoes #}
	{% if shoes %}
	<div class="photo">
		<a href="{% url 'article_detail' article_id=shoes.id %}">
			<div class="photo-image" style="background-image: url({{shoes.image.url}})">
			</div>
		</a>
	</div>
	{% endif %}
	<div style="clear: both"></div>

	{% if not message %}
	    
	
		<form action="{% url 'outfit_random_save' %}" method="post">
		{% csrf_token %}
			{# top #}
			{% if top %}
			<input type="text" value="{{top.id}}" name="top_id" hidden/>
			{% endif %}
		
			{# bottom #}
			{% if bottom %}
			<input type="text" value="{{bottom.id}}" name="bottom_id" hidden/>
			{% endif %}

			{# dress #}
			{% if dress %}
			<input type="text" value="{{dress.id}}" name="dress_id" hidden/>
			{% endif %}
		
			{# outer #}
			{% if outer %}
			<input type="text" value="{{outer.id}}" name="outer_id" hidden/>
			{% endif %}
		
			{# detail #}
			{% if detail %}	
			<input type="text" value="{{detail.id}}" name="detail_id" hidden/>
			{% endif %}

			{# shoes #}
			{% if shoes %}	
			<input type="text" value="{{shoes.id}}" name="shoes_id" hidden/>
			{% endif %}
			<p>
				Name: <input type="text" name="outfit_name"/>
				<button type="submit" class="btn">Save</button>
			</p>
		</form>
	{% endif %}

</div>


{% endblock content %}