{% extends 'base.html' %}
{% block title %}
Detail - {{block.super}}
{% endblock title %}

{% block content %}
<p>Name: {%if outfit.name|length == 0 %}<i>unnamed</i>{% else %}{{outfit.name}}{% endif %}</p>
{% for article in outfit.articles.all %}
<div class="photo">
	
	{% if article.image and article.image.url %}
		<a href="{% url 'article_detail' article_id=article.id %}">
			<div class="photo-image" style="background-image: url({{article.image.url}})">
			</div>
		</a>
	{% elif article.image_external %}
		<a href="{% url 'article_detail' article_id=article.id %}">
			<div class="photo-image" style="background-image: url({{article.image_external}})">
			</div>
		</a>
	{% endif %}
</div>
{% endfor %}
<div style="clear:both"></div>
<p><a href="{% url 'edit_outfit' outfit_id=outfit.id %}">Edit</a></p>
<p><a href="{% url 'delete_outfit' outfit_id=outfit.id %}">Delete</a></p>

{% endblock content %}